.mt-1 {
  margin-top: 1rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.px-2 {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.text-center {
  text-align: center !important;
}

.full-width {
  display: block;
  width: 100%;
}
