.features-grid {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}

.feature {
  display: flex;
  gap: 2rem;

  &__image {
    display: block;
    align-self: flex-start;
  }

  &__title {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 400;
  }
}
