.heading {
  color: $color-primary;
  font-weight: 300;
  font-size: 2rem;
  margin: 0;

  &--secondary {
    color: $color-secondary;
  }

  &--centered {
    text-align: center;
  }

  &--small {
    font-size: 1.6rem;
  }

  &--400 {
    font-weight: 400;
  }

  &--500 {
    font-weight: 500;
  }
}
