.page-section {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
  border: 1px solid red;

  &--secondary {
    background-color: $color-primary;
    color: #fff;
  }

  &--testimonials {
    background: url("/assets/images/testimonials-bg.jpg") center / cover
      no-repeat;
  }
}
